{{ define "main" }}
<div class="container pt-6">
    <div class="columns">
     
        <div class="column">
            <h3 class="is-size-3 sawarabi-mincho-regular pb-4">A little bit About Me</h3>                   
        </div>
        <div class="column"></div>
      </div>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <p>Always ready to take on new challenges, I have built my career across a diverse range of lean startups and established companies. I began my journey as a Creative UI/UX Executive at Lelong.my, a homegrown e-commerce platform, and quickly advanced to Lead UI/UX Designer roles at Supahands, where I shaped the design of innovative AI-driven solutions. My experience expanded further during my time at Maxis, where I contributed to a crucial MVNO project, honing my skills in creating seamless and user-friendly interfaces.</p><br>

            <p>I later took on the role of Chief Project Officer at INVOKE Malaysia, an NGO focused on activism, where I was instrumental in preparing for Malaysia's 14th General Election campaign. After a 10-month sabbatical spent freelancing, mentoring budding product designers, and exploring business ideas, I became Head of Product at Maideasy, where I restructured the company's business verticals to focus on generating steady revenue.</p><br>

            <p>Most recently, I ventured into the fishing and tackle industry with MR. UMPAN, diving into the complexities of entrepreneurship. This journey has only deepened my understanding of business dynamics and reinforced my passion for crafting impactful design solutions.</p><br>

            <p>Outside of work, I enjoy mentoring aspiring designers, exploring new business ventures, and spending time by the water—whether it's fishing or simply enjoying the serenity of the outdoors.</p>
                            
        </div>
        <div class="column">
            <div class="tabs is-boxed is-right is-small">
                <ul>
                    <li class="is-active" onclick="showImage('weekdays')">
                        <a>
                            <span class="icon is-small"><i class="fa-solid fa-school" aria-hidden="true"></i></span>
                            <span>Weekdays</span>
                        </a>
                    </li>
                    <li onclick="showImage('weekends')">
                        <a>
                            <span class="icon is-small"><i class="fa-solid fa-fish" aria-hidden="true"></i></span>
                            <span>Weekends</span>
                        </a>
                    </li>
                </ul>
            </div>
            <figure class="image" id="weekdays-image">
                <img class="is-borderless is-rounded-img" src="../images/jomlaunch_2017.jpg?"/>
                <p class="has-text-centered pt-2"><i>Presenting a project at JomLaunch 2017</i></p>
            </figure>
            <figure class="image" id="weekends-image" style="display: none;">
                <img class="is-borderless is-rounded-img" src="../images/weekend_trip.jpg?"/>
                <p class="has-text-centered pt-2"><i>Enjoying the weekend</i></p>
            </figure>
        </div>        
      </div>
</div>
<div class="container pt-4">
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Acquired Skills</h4>   
    <div class="tags are-medium">
        <span class="tag is-black">User Research</span>
        <span class="tag is-black">Use Case Studies</span>
        <span class="tag is-black">Project Management - Agile / Scrum</span>
        <span class="tag is-black">Lean MVP</span>
        <span class="tag is-black">UI/UX, Web and App Design</span>
        <span class="tag is-black">HTML, CSS & Javascript</span>
        <span class="tag is-black">Figma, InVision, Zeplin</span>
        <span class="tag is-black">Developer Handoff</span>
        <span class="tag is-black">Information Architecture</span>
        <span class="tag is-black">Prototyping</span>
        <span class="tag is-black">3D Design & Modeling</span>
        <span class="tag is-black">Social Media Marketing</span>
      </div>
</div>
{{ end }}