<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="{{ if or (eq .Type "supahands_case_study") (eq .Type "lelong_case_study") (eq .Type "ookyo_case_study") }}is-global-dark-bg{{ else }}default{{ end }}">
<head>
  {{ partial "htmlhead" . }}
</head>
<body class="{{ if or (eq .Type "supahands_case_study") (eq .Type "lelong_case_study") (eq .Type "ookyo_case_study") }}case-study-body{{ end }}">
  {{ if or (eq .Type "supahands_case_study") (eq .Type "lelong_case_study") (eq .Type "ookyo_case_study") }}
    {{ partial "header_case_study.html" . }}
  {{ else }}
    {{ partial "header.html" . }}
  {{ end }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ if site.Params.footer }}
    {{ partial "footer" . }}
  {{ end }}

  {{ template "_internal/google_analytics.html" . }}
</body>
</html>
