<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "htmlhead" . }}
</head>

<body>
  {{ partial "header" . }}
  <div class="container is-widescreen">
    <h1 class="is-size-1 sawarabi-mincho-regular">Empowering Founders to Create Impactful Products Experiences</h1>
    <div class="notification is-primary">
      This container is <strong>fullwidth</strong> <em>until</em> the <code>$widescreen</code> breakpoint.
    </div>
  </div>
  

  {{ if site.Params.footer }}
    {{ partial "footer" . }}
  {{ end }}

  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
