<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "htmlhead" . }}
</head>

<body>
  {{ partial "header" . }}
  <div class="container is-widescreen mt-6">
    <h1 class="is-hero-title sawarabi-mincho-regular">Empowering Founders to Create Impactful Products Experiences</h1>
  </div>
  <div class="container is-widescreen mt-6">
    <div class="columns is-multiline is-mobile">
      <div class="column is-1">
        <img id="hoverImage" src="./images/nrfz_avatar.png" alt="Image" class="avatar" />
      </div>
      <div class="column">
        <h4 class="is-size-4 sawarabi-mincho-regular">Senior Product Designer</h4>
        <h6 class="is-size-6">Based in Malaysia, I focus on designing what matters to stakeholders</h6>
        <h6 class="is-size-6">and delivering the best results for businesses.</h6>
      </div>
    </div>
  </div>
  <div class="container is-widescreen mt-5">
    <div class="columns is-multiline is-mobile">
      <div class="column is-2">
        <div class="separator-bar"></div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
  <div class="container is-widescreen mt-6">
    <div class="columns is-multiline is-mobile">
      <div class="column">
        <h4 class="is-size-4 sawarabi-mincho-regular">Selective work</h4>
      </div>
    </div>
  </div>
  <div class="container is-widescreen mt-6">
    <div class="columns is-mobile">
      <div class="column"><img class="is-borderless" src="../images/lelong_logo.svg" alt="Description of the image">  </div>
      <div class="column"><img class="is-borderless" src="../images/supahands_logo.svg" alt="Description of the image">  </div>
      <div class="column"><img class="is-borderless" src="../images/ookyobymaxis_logo.svg" alt="Description of the image">  </div>
      <div class="column"><img class="is-borderless" src="../images/invoke_logo.svg" alt="Description of the image">  </div>
      <div class="column"><img class="is-borderless" src="../images/maideasy_logo.svg" alt="Description of the image">  </div>
    </div>
  </div>
  
  

  {{ if site.Params.footer }}
    {{ partial "footer" . }}
  {{ end }}

  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
