{{ define "main" }}
<div class="container is-fluid">
  <div class="pt-2 mt-2 mb-6 pb-6 container">
    <div class="columns is-one-quarter">
      <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
        <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Lelong.my Mobile App</h4>
        <hr class="is-white-line"></hr>
        <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration</h4>
        <p class="is-white-title">May 2014 - May 2015</p> 
        <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team</h4>
          <p class="is-white-title">1 x Product Manager</p>
          <p class="is-white-title">1 x iOS Developer</p>
          <p class="is-white-title">1 x Android Developer</p>
          <p class="is-white-title">1 x UI/UX Designer</p> 
        <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company</h4>
          <p class="is-white-title">Lelong.my</p> 
      </div>
      <div class="column is-mobile is-8">
        <figure class="image">
          <img loading="lazy" class="is-borderless is-rounded-img has-shadow" src="../images/lelong_app_screencap.jpg?"/>
        </figure>
      </div>
    </div>
  </div>
</div>
  <div class="container is -fluid pt-6 mt-6 pb-6 is-fluid pale-yellow-bg">
    <div class="container">
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4">My Role</h4>
        <p>As the sole UI/UX person in the company at that time, I was tasked to drive the redesign initiative of existing Lelong.my app. I primarily focused on making the browse flows and the purchase flow seamless and intuitive for the existing user base as well as new users. </p>
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4 pt-4">Background</h4>
        <p>An earlier version of the Lelong.my apps were developed hastily without taking any UX consideration due to the FOMO trend with other local e-commerce players. Both apps on iOS and Android platforms looked and behaved differently, as independent teams developed them with varying timelines.<p><br>
      <p>The company decided to revamp the apps to provide a better user experience and to increase the conversion rate. The apps were redesigned to be more user-friendly and to have a consistent look and feel across both platforms.</p>
      <br><p>The team main charter was to come out and develop a single experience that works across the platform with consistent icon sets, typography, UI patterns, and brand language.</p>      <!-- Image and Figure -->
        <div class="columns pt-6 pb-6">
          <div class="column">
          </div>
          <div class="column is-three-quarters">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_old_app.png?"/>
              <p class="has-text-centered pt-2"><i>Early version of the app. Released on 2013</i></p>
          </div>
          <div class="column">
          </div>
        </div> 
        <!-- End of Image and Figure -->
      <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Ideation & Process</h3>
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Impulse Buying Home Page</h4>
        <p>In the previous versions of the app, the user is welcome by a landing page that is filled with a single promo of the day poster and that's about it. Inspired by Alibaba’s TMall and Taobao, I designed a further developed home page by showcasing interesting curated products for that week.
  </p><br>
        <p>This home page helps new users to glimpse through what are the latest deals in every category in a glance. It also generates new impulse buying feeling to all users will then counted as a conversion.</p><br>
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Seamless Browsing</h4>
        <p>We try to develop a shopping experience that both satisfy the old and new users. Initially, as we gathered more info on how our user use the app, we have found that old/seasoned user will start looking at their desired product by using the search bar filter function.
        </p><br>
        <p>In order to facilitate that experience, I went for a full blown category listing that is alphabetically arranged accessible from the sidebar. Under this listing also, I gathered top categories that user tend to purchase from such as Fashion, Home & Living, 3C (computer, communication, and consumer electronics) and place them under the selected category.
        </p><br>
        <p>Wireframing on paper help to play an integral part in the iteration process. Later on, I transferred all this lo-fi mockup into Sketch and then InvisionApp to share the flows with the team and other stakeholders. </p><br>
        <!-- Image and Figure -->
        <div class="columns pt-6 pb-6">
          <div class="column"></div>
          <div class="column is-three-quarters">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_wireframe_1.jpg?"/>
              <p class="has-text-centered pt-2"><i>Wireframe to ideate on the new home page</i></p>
            </figure>
          </div>
          <div class="column"></div>
        </div> 
        <!-- End of Image and Figure -->
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Private Message with Merchant</h4>
      <p>Although the web version of Lelong.my platform allows the user to message merchant directly. The app, unfortunately, does not. We really want the conversation to be short and concise, and it should be about the product offered by the merchant. 
      </p><br>
      <p>The main hurdle with this feature was to determine which is the best entry point for the user to initiate the conversation; Is it at the Store Page or at the Product Page.
      </p><br>
      <p>Since we did not want to limit this function, we decided to place it at both points. However, the logic will automatically feature the latest item purchased from the seller by the user at the top of the conversation bubble.</p><br>
      <!-- Image and Figure -->
      <div class="columns pt-6 pb-6">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_wireframe_2.jpg?"/>
            <p class="has-text-centered pt-2"><i>Wireframe to ideate on the new messaging feature</i></p>
          </figure>
        </div>
        <div class="column"></div>
      </div> 
      <!-- End of Image and Figure -->   
      <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Visual Design</h3>
      <!-- Image and Figure -->
      <div class="columns pt-6 pb-6">
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_splash_screen.jpg?"/> 
            <p class="has-text-centered pt-2"><i>Splash Screen</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_login_screen.jpg?"/>
            <p class="has-text-centered pt-2"><i>Login Screen</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_front_page.jpg?"/>
            <p class="has-text-centered pt-2"><i>Front Page</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_details_listing.jpg?"/>
            <p class="has-text-centered pt-2"><i>Product Listing</i></p> 
          </figure>
        </div>
      </div>
      <!-- Additional Row -->
      <div class="columns pt-6 pb-6">
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_cat_alphabetical.jpg?"/> 
            <p class="has-text-centered pt-2"><i>Sidebar Categories</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_cart_page.jpg?"/>
            <p class="has-text-centered pt-2"><i>Your Shopping Cart</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_confirm_co.jpg?"/>
            <p class="has-text-centered pt-2"><i>Order Checkout</i></p> 
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_emtpy_cart.jpg?"/>
            <p class="has-text-centered pt-2"><i>Cart Empty State</i></p> 
          </figure>
        </div>
      </div>
        <!-- Additional Row -->
        <div class="columns pt-6 pb-6">
          <div class="column">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_msg_ls.jpg?"/> 
              <p class="has-text-centered pt-2"><i>Messaging Function</i></p> 
            </figure>
          </div>
          <div class="column">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_msg_toast.jpg?"/>
              <p class="has-text-centered pt-2"><i>Customer to Seller Conversation</i></p> 
            </figure>
          </div>
          <div class="column">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_inbox_empty.jpg?"/>
              <p class="has-text-centered pt-2"><i>Inbox Empty State</i></p> 
            </figure>
          </div>
          <div class="column">
            <figure class="image">
              <img loading="lazy" class="is-borderless is-rounded-img" src="../images/lelong_payment_step.png?"/>
              <p class="has-text-centered pt-2"><i>Payment Option</i></p> 
            </figure>
          </div>
        </div>
      <!-- End of Image and Figure -->
      <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Restrospective</h4>
      <p>This project helps me to embark my journey into Product Design full time. I learned heaps of new UX fundamentals and also some critical skills in dealing with developers and project managers. I also picked up reading more seriously especially in the product design topics.</p>
      <br>
      <p>Honestly, this project does not look that good and polished when we release its new design later that year. However, we did receive positive feedback from our users stating that the latest experience was far seamless than before.</p>
      <br>
      <p>My proudest moment was when Lelong.my app was ranked top 3 in the Google Play Store at that time in the category of online shopping.</p>   
    </div>
      <!-- Footer -->
      {{ partial "footer" . }}
      <!-- Floating Menu -->
      {{ partial "floating_menu" . }}
  </div>
</div>
{{ end }}