{{ define "main" }}
<div class="pt-2 mt-2 mb-6 pb-6 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Mr. Umpan</h4>
      <hr class="is-white-line">
      </hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration</h4>
        <p class="is-white-title">April 2020 - Current</p>
        <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team</h4>
          <p class="is-white-title">1 x Product Owner</p>
          <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company</h4>
            <p class="is-white-title">Mr. Umpan</p>
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img class="is-borderless is-rounded-img has-shadow" loading="lazy" src="../images/mrumpan_grease3in1.jpg?" />
      </figure>
    </div>
  </div>
</div>
<div class="container pt-6 mt-6 pb-6 is-fluid pale-yellow-bg">
  <div class="container">
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">My Role</h4>
    <p>I am the proprietor of Mr. Umpan, a small business established in the first quarter of 2020. Mr. Umpan is a local fishing tackle brand offering ready-to-use freshwater fishing paste bait, fishing reel servicing grease and lube, and a pocketable fishing hook sharpener.</p>
    <br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Background</h4>
    <p>I found myself out of the workforce as COVID-19 severely impacted Malaysia. The government's ban on outdoor activities led to my former employer, a service industry company reliant on human interaction, being unable to sustain its monthly overheads.</p><br>
    <p>Meanwhile, my partner, a healthcare professional, had to continue working during the pandemic, leaving me to care for our two children, who could not attend school due to the Movement Control Order (MCO). With no other options, I began homeschooling them.</p><br>
    <p>Instead of waiting for the market to recover, I decided to pursue my long-held idea of creating a tangible product. With a startup capital of MYR500, I registered the business with the ROC under the name Mister Bait Trading, marking the beginning of this entrepreneurial journey.This business is run fully online via a popular retail marketplace called Shopee.</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">GTM Strategy</h4>
    <p>Given the lean approach for Mr. Umpan, my marketing efforts have been centered on organically generating leads and converting them. I've utilized social media content to capture as much attention as possible, followed by strategic follow-up content to facilitate conversions.</p><br>
    <p>One notable example was creating a how-to video featuring myself catching fish using our unique paste bait. This initiative was crucial in sparking curiosity among our target customers and encouraging them to try our bait.</p><br>
    <p>I also conducted a thorough competitor analysis to identify pain points and addressed them by introducing distinctive packaging. I was the first to use a kraft sealed paper bag for bait packaging, complete with clear usage instructions. This superior packaging not only extended the shelf life of our bait but also protected it from outdoor elements, a significant improvement over the simple clear plastic packaging used by competitors.</p><br>
    <p>This same strategy was applied when I launched the Grease series and the Pocket-able Hook Sharpener. Through extensive competitor analysis, I identified opportunities to address pain points and successfully shipped my products. This helped Mr. Umpan disrupt the market and gain a substantial share from existing players.</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Moving Forward</h4>
    <p>After nearly four years of bootstrapping Mr. Umpan with an initial capital of MYR500, I've grown the business to achieve a monthly recurring revenue (MRR) of MYR3,500, though not as large as initially envisioned.</p><br>
    <p>This year, I'm expanding my reach by entering the brick-and-mortar market. I plan to sell Mr. Umpan products to fishing tackle retailers through a consignment model, diversifying my sales channels beyond online presence.</p><br>
    <p>Looking ahead, I intend to apply the insights gained from Mr. Umpan to other tangible product business ideas, aiming to create multiple income streams. This strategic expansion will help me build a robust and diversified business portfolio.</p>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fmisterumpan%2Fvideos%2F547757946598749%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      </div>
      <div class="column">
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmisterumpan%2Fvideos%2F1023105251669568%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmisterumpan%2Fvideos%2F932606240699524%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/mindraypassport8.png?" />
          <p class="has-text-centered pt-2">
            <i>MindRay Passport8 Interface</i>
          </p>
        </figure>
      </div>
    </div>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">HiFi Design Exploration</h4>
    <p>After several iterations and feedback sessions, I finalized the design and proceeded to develop the front-end codebase using HTML, CSS, and JavaScript. The result is a responsive, mobile-friendly, and performant interface that meets the project's requirements.</p><br>
    <p>As with my other projects, I have also prepared a thorough how-to guide on how to run this project locally and paramount CSS classes usage, in case they want to develop the code base further.</p><br>
    <p>You may experience the functionality firsthand by exploring the DEMO version, which operates seamlessly across various browsers. For a comprehensive demonstration, visit the <a href="https://tender-nobel-222195.netlify.app/">Web version</a>, optimized for standard browsing. Additionally, try <a href="https://tender-nobel-222195.netlify.app/mobile-waveform.html">Mobile Optimized version</a> for an enhanced experience on handheld devices. To delve deeper into the frontend aspects, you can have a look at the <a href="https://tender-nobel-222195.netlify.app/frontend-documentation.html">Frontend Documentation</a>.</p>
    <br>  
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column is-one-quarter">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/020_ppum_mobile_view_a.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Mobile View - Vital Sign</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/001_ppum_iot_main_screen.jpg?">
          <p class="has-text-centered pt-2"><i>First HiFi Mockup - Landing Screen</i></p>
        </figure>
      </div>
      <div class="column is-one-quarter">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/021_ppum_mobile_view_b.jpg" />
          <p class="has-text-centered pt-2">
            <i>Mobile View - Viral Graph</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-4 pb-4">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/015_ppum_device_settings.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Device Setting Page</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/005_ppum_start_case_patient_keyboard.jpg?" />
          <p class="has-text-centered pt-2">
            <i>On Screen Keyboard for Touch Screen Use Case</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/011_ppum_device_settings_connectivity_stats.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Device Connectivity Stats</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Image and Figure -->
    <div class="columns pt-4 pb-4">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/nexoprima_final_product.jpg?">
          <p class="has-text-centered pt-2"><i>Final Product - Tested on Chrome</i></p>
        </figure>
      </div>
      <div class="column">
        <figure class="image is-16by9">
          <iframe
            class="has-ratio"
            width="640"
            height="360"
            src="https://www.youtube.com/embed/J_TOxsu20x0?si=E_ZznGz0ipJXmz_c"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </figure>
      </div>
    </div>
  </div>
  <!-- Footer -->
  {{ partial "footer" . }}
</div>
{{ end }}
