{{ define "main" }}
<div class="pt-2 mt-2 mb-6 pb-6 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Maxis Ookyo</h4>
      <hr class="is-white-line">
      </hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration </h4>
        <p class="is-white-title">March 2017 - April 2018</p>
        <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team </h4>
          <p class="is-white-title">1 x Product Managers</p>
          <p class="is-white-title">1 x Web Developers</p>
          <p class="is-white-title">1 x Android Developer</p>
          <p class="is-white-title">1 x UI/UX Designer</p>
          <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company </h4>
            <p class="is-white-title">Maxis</p>
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img class="is-borderless is-rounded-img has-shadow" src="../images/ookyo_main_shot.jpg?" />
      </figure>
    </div>
  </div>
</div>
<div class="container pt-6 mt-6 pb-6 is-fluid pale-yellow-bg">
  <div class="container">
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">My Role</h4>
    <p>As the sole UI/UX person in this project, I was tasked to drive the full design initiative for its early concept, wireframes, mockup, and final deliverables. The UX team for BAU (Business as Usual) provided insights on Maxis’ legacy product toolchain and ultimately helped me to complete this project.</p>
    <br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4 pt-4">Background</h4>
    <p>Maxis was founded in 1993, and it is a leading telco company in Malaysia. It has two mainstream brands that they market for the masses namely Maxis Hotlink and Maxis Postpaid. When I joined Maxis, they were setting up an internal incubator to develop a new product and set it apart from another offering to the existing customer — sort of like a skunkworks inside a big corporate firm. </p>
    <br>
    <p>It was a team of five core people including me, six outsourced developers, 3 PMs from Accenture and two digital brand agencies. The objective was to develop a full mobile experience telco within a year with the CAPEX of MYR2,000,000. It was an experiment by Maxis to make use of the latest cloud services by AWS and some other provider in the market. The project is called Ookyo. </p>
    <br>
    <p>Ookyo is a new sub-brand under Maxis, and it taps into the same network that’s used by Maxis and Hotlink. It is a digital-only platform where everything from purchasing a new SIM to customer service is done online. Its customer service operates 24/7 and serves by a built-in chatbot. </p>
    <br>
    <p>I was told that one of the paramount features for Ookyo is to be able to entice youth (Digital Native) just by looking at it. </p>
    <br>
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Ideation & Process</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Competitive Study</h4>
    <p>When I received this task, the first thing that I did was to research as much information as possible about any full digital initiative from all leading telcos in the world. Since this was my first time working for a telco product, I was looking for a UX pattern that perhaps could be a hint to kickstart this project.</p>
    <br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Hurdles in Concept Design Exploration</h4>
    <p>Few needed core requirements to design this product was not available until we were three months to the launch date. The common practice of large corporation that loves to outsource these key elements was a bit prohibitive in some sense. It was tough for me to design even the whole concept of the app. </p>
    <br>
    <p>Some of the core requirements were the brand guidelines, an epic flow chart of how the system will work and the built-in chatbot architecture. Almost all of its major backend logics were handled by a third party vendor.</p>
    <br>
    <p>In order to tackle this while not lagging the timeline. I decided to play around with a few concepts that mostly ended up in the final product later. This concept helped the PM and other stakeholders in this project to get an overview of the end-product. It also helps to validate the business requirement needed, and we regularly use this to tweak it further and run some tests. </p>
    <br>
    <!-- Image & Figures -->
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Visual Design</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Earliest HiFi Mockup</h4>
    <p>Since the project was already underway when I joined, there was no time to waste. Instead of sketching wireframes, I immediately began working on high-fidelity mockups and conducted initial user testing to validate hypotheses about core features, such as the in-app wallet, multi-package selection, and new member registration.
</p><br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_1.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_2.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Login Screen</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_3.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Package Selection</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_4.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Porting Number Screen</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_5.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Checkout Screen</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_6.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Input Form</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_7.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Number Picker</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_8.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Radio Selection</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_9.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen Copy A</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_10.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen Copy B</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_11.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen Copy C</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_maxis_ookyo_12.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen Copy D</i>
          </p>
        </figure>
      </div>
    </div>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">The Final Look and Feel</h4>
    <p>The Ookyo brand guidelines mandate a vibrant, colorful, and chic aesthetic, reminiscent of Snapchat, or perhaps even neo-brutalism. Once the comprehensive branding CI was finalized, my original app concept, which had previously undergone testing, seamlessly integrated with it.</p><br>
    <p>In addition to designing all the requisite UI and screens, I also contributed to the development by coding some of the pages for the web version using HTML, JS, and CSS. This effort freed up the team from having to deal with the stylesheet and layout intricacies, providing them with a robust scaffold for further development.</p><br>
    <p>We successfully launched the app in September 2017, garnering significant attention and positive buzz within the local tech community for its funky-chic and original design. It was one of my proudest moment as a designer.</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular">More Screenshots</h4>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_1.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Landing Screen</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_2.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Onboarding</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_3.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Splash Screen</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_4.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Log In Page</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_9.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Credit Topup</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_10.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Empty Negative State</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_7.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Unlimited App Selection</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_8.jpg?" />
          <p class="has-text-centered pt-2">
            <i>TAC Request</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_5.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Home Listings</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_6.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Sign Up Page</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_11.jpg?" />
          <p class="has-text-centered pt-2">
            <i>My Profile</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ic_ookyo_final_12.jpg?" />
          <p class="has-text-centered pt-2">
            <i>Sidebar Menu</i>
          </p>
        </figure>
      </div>
    </div>
     <!-- Image and Figure -->
     <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/soyacincau_ookyo.jpg?"/>
          <p class="has-text-centered pt-2"><i>A photo of our final product in the hand of user. 
            Image from <a href="https://www.soyacincau.com/2017/09/27/ookyo-5-things-you-need-to-know/">SoyaCincau</a></i></p>
        </figure>
      </div>
      <div class="column ">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/ookyo_landing_page.jpg?"/>
          <p class="has-text-centered pt-2"><i>The main landing page (web)</i></p>
        </figure>
      </div>
    </div> 
    <!-- End of Image and Figure -->
  </div>
</div>
{{ end }}
