{{ define "main" }}
<div class="mt-4 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Supahands Redesign</h4>
      <hr class="is-white-line"></hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration</h4>
       <p class="is-white-title">May 2015 - May 2016</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team</h4>
        <p class="is-white-title">1 x Product Manager</p>
        <p class="is-white-title">1 x Frontend Developer</p>
        <p class="is-white-title">1 x Product Designer</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company</h4>
        <p class="is-white-title">Supahands</p> 
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img class="is-borderless has-shadow" src="../images/supahands_dashboard.png?"/>
      </figure>
    </div>
  </div>
</div>
{{ end }}