{{ define "main" }}
<div class="pt-2 mt-2 mb-6 pb-6 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Supahands Redesign</h4>
      <hr class="is-white-line"></hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration</h4>
       <p class="is-white-title">May 2015 - May 2016</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team</h4>
        <p class="is-white-title">1 x Product Manager</p>
        <p class="is-white-title">1 x Frontend Developer</p>
        <p class="is-white-title">1 x Product Designer</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company</h4>
        <p class="is-white-title">Supahands</p> 
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img class="is-borderless is-rounded-img has-shadow" src="../images/supahands_dashboard.png?"/>
      </figure>
    </div>
  </div>
</div>
<div class="container pt-6 mt-6 is-fluid pale-yellow-bg">
  <div class="container">
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">My Role</h4>
      <p>Supahands was just a year old when I was brought in as their new UI/UX guy. As a new company, it pivoted a few times to suit the market needs. My task this time around was to design a unique experience for 
      its landing pages and web app (dashboard) to reflect the latest branding and business direction.</p>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4 pt-4">Background</h4>
      <p>When Supahands was first founded, it was a platform for freelancers to sign up and become virtual assistants for all types of tasks such as flight ticket booking, event planning, meal ordering, data entry, and transcribing.</p>
      <br><p>These freelancers are called SupaAgents. Our SupaAgents mainly comprise college students, homemakers, single parents, and retirees based in the South East Asia region (Malaysia, Indonesia, Singapore, and the Philippines). We charged our clients by "Hands." A "Hand" equals 20 minutes' worth of work. The rate, however, ranges from MYR8 - MYR12 (USD$1.96 - USD$2.94) per hand according to the complexity of the work.</p>
      <br><p>The whole web app of Supahands was originally designed by a digital agency, commissioned by the founders. It already worked great; however, as the business demand grew, its MVP version of the landing page and its web app became outdated. So there was a need to address that quickly.</p>  
      <!-- Image and Figure -->
      <div class="columns pt-6 pb-6">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img class="is-borderless is-rounded-img" src="../images/supahands_atf_2014.png?"/>
            <p class="has-text-centered pt-2"><i>Screencap of Supahands Over the Fold view in 2014</i></p>
          </figure>
        </div>
        <div class="column"></div>
      </div> 
      <!-- End of Image and Figure -->
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Ideation & Process</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Comparative Analysis Old & New</h4>
      <p>Almost 50% of the landing page content was similar. So I need to make a brief comparison between the old and the new. It looks natural on the surface, but to be frank, I need to relearn what the previous designer developed few years back.
      </p><br>
      <p>Apart from that, the core team organized many meetings with the stakeholders to obtain as much information as we could and tabulate it as a needed item in the new version.
      </p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Site Map & Userflow</h4>
      <p>Apart from eyeballing on what could be the changes needed. I redraw the site map of the first version to help me look more in-depth on the real journey. Since Supahands only have one developer at that time, we decided on a consensus to not elaborate further on the UX flow from the first version landing page since it is going to require more time to develop the system.</p>
      <br><p>This site map then serves as a reference point every time the team has to do a discussion about the site</p>
      <!-- Image and Figure -->
      <div class="columns pt-6 pb-6">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img class="is-borderless is-rounded-img" src="../images/supahands_sitemap.png?"/>
            <p class="has-text-centered pt-2"><i>Screencap of Public Facing Site Map</i></p>
          </figure>
        </div>
        <div class="column"></div>
      </div> 
      <!-- End of Image and Figure -->
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">User Dashboard</h4>
    <p>As for the user dashboard, it was a different story altogether. We overhaul the first version into a better one. The user feedback that we gathered helps us to solve certain pain points that matter. 
    </p><br>
    <p>We’ve introduced color coding for our task status’ which makes it all easier to vet through many existing tasks in a glance. Other than that we’ve also decided to make it a little clearer on how many Hands each task has taken. So now it’ll always be clear how many Hands each of the tasks has taken, helping the user keep track of it all.
    </p><br>
    <p>Lastly, we try to emulate what others did in term of information sorting so that the user has more control over how they will see their dashboard. All controls now are positioned to the left side menu.
    </p><br>
    <p>The method before this was to use a dropdown list to filter through tasks based on its status. We’ve done away with that and have placed these filters on the left sidebar as well.
    </p>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supahands_reg_user_sitemap.png?"/>
          <p class="has-text-centered pt-2"><i>Screencap of Registered User Site Map</i></p>
        </figure>
      </div>
      <div class="column"></div>
    </div> 
    <!-- End of Image and Figure -->   
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Visual Design</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Centralise Information</h4>
    <p>A hired digital agency developed Supahands branding on its early day. Fast forward, during this redesign process, I took the chance to document it into a version where it is publicly accessible and neatly informed.</p>
    <br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supahands_branding.png?"/>
          <p class="has-text-centered pt-2"><i>Screencap of Registered User Site Map</i></p> 
        </figure>
      </div>
      <div class="column"></div>
    </div>
    <!-- End of Image and Figure -->
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">The SupaCharacters</h4>
    <p>Honestly, I’m no illustrator, but my other colleague that was also a UX Designer in the team help us to grow the character further to accommodate the new design. It was a tough one I must say. Using a visual character aspect in your web design somehow very limitive in term of what you can do with your overall design language. However, we managed to get hold of it eventually by settling on a middle ground.</p>   
    <br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supacharacters.png?"/>
          <p class="has-text-centered pt-2"><i>SupaCharacters help to visualise product intention.</i></p> 
        </figure>
      </div>
      <div class="column"></div>
    </div>
    <!-- End of Image and Figure -->
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Delivery & Handoff</h4>
    <p>The product development team at that time was no bigger than five people including me. When all was said and done, I help coded some of the front end pages which I implemented using Bootstrap and Javascript. Most of it managed to get released in production.</p>
    <br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supa_landing_page.png?"/>
          <p class="has-text-centered pt-2"><i>The final landing page screens</i></p> 
        </figure>
      </div>
      <div class="column"></div>
    </div>
    <!-- End of Image and Figure -->
        <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supa_old_dashboard.png?"/>
          <p class="has-text-centered pt-2"><i>The old dashboard.</i></p> 
        </figure>
      </div>
      <div class="column"></div>
    </div>
    <!-- End of Image and Figure -->
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"></div>
      <div class="column is-three-quarters">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supahands_dashboard.png?"/>
          <p class="has-text-centered pt-2"><i>The final and deployed dashboard.</i></p> 
        </figure>
      </div>
      <div class="column"></div>
    </div>
    <!-- End of Image and Figure -->
       <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column"><figure class="image">
        <img class="is-borderless is-rounded-img" src="../images/supa_doodle_2015.png?"/>
        <p class="has-text-centered pt-2"><i>Quick wireframing before jumping into the hi-fi mockup.</i></p> 
      </figure></div>
      <div class="column">
        <figure class="image">
          <img class="is-borderless is-rounded-img" src="../images/supa_wireframe_dash_a.jpg?"/>
          <p class="has-text-centered pt-2"><i>Doodling on the notebook is the fastest way to get an idea across.</i></p> 
        </figure>
      </div>
      <div class="column"><figure class="image">
        <img class="is-borderless is-rounded-img" src="../images/supa_wireframe_dash_b.jpg?"/>
        <p class="has-text-centered pt-2"><i>Playing with the idea of how to present the information.</i></p> 
      </figure></div>
    </div>
    <!-- End of Image and Figure -->
  </div>
 

</div>
{{ end }}