{{ define "main" }}
<div class="pt-2 mt-2 mb-6 pb-6 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Supahands Redesign</h4>
      <hr class="is-white-line"></hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration</h4>
       <p class="is-white-title">May 2015 - May 2016</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team</h4>
        <p class="is-white-title">1 x Product Manager</p>
        <p class="is-white-title">1 x Frontend Developer</p>
        <p class="is-white-title">1 x Product Designer</p> 
      <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company</h4>
        <p class="is-white-title">Supahands</p> 
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img class="is-borderless has-shadow" src="../images/supahands_dashboard.png?"/>
      </figure>
    </div>
  </div>
</div>
<div class="container pt-6 mt-6 is-fluid pale-yellow-bg">
  <div class="container">
    <h4 class="is-size-3 sawarabi-mincho-regular pb-4">My Role</h4>
      <p>Supahands was just a year old when I was brought in as their new UI/UX guy. As a new company, it pivoted a few times to suit the market needs. My task this time around was to design a unique experience for 
      its landing pages and web app (dashboard) to reflect the latest branding and business direction.</p>
    <h4 class="is-size-3 sawarabi-mincho-regular pb-4 pt-4">Background</h4>
      <p>When Supahands was first founded, it was a platform for freelancers to sign up and become virtual assistants for all types of tasks such as flight ticket booking, event planning, meal ordering, data entry, and transcribing.</p>
      <br><p>These freelancers are called SupaAgents. Our SupaAgents mainly comprise college students, homemakers, single parents, and retirees based in the South East Asia region (Malaysia, Indonesia, Singapore, and the Philippines). We charged our clients by "Hands." A "Hand" equals 20 minutes' worth of work. The rate, however, ranges from MYR8 - MYR12 (USD$1.96 - USD$2.94) per hand according to the complexity of the work.</p>
      <br><p>The whole web app of Supahands was originally designed by a digital agency, commissioned by the founders. It already worked great; however, as the business demand grew, its MVP version of the landing page and its web app became outdated. So there was a need to address that quickly.</p>  
      <div class="columns pt-4 pb-4">
        <div class="column">Auto</div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img class="is-borderless" src="../images/supahands_atf_2014.png?"/>
            <p><i>Supahands Over the Fold view in 2014</i></p>
          </figure>
        </div>
        <div class="column">Auto</div>
      </div> 
      
  </div>
 

</div>
{{ end }}