{{ define "main" }}
<div class="pt-2 mt-2 mb-6 pb-6 container">
  <div class="columns is-one-quarter">
    <div class="column is-flex is-flex-direction-column is-justify-content-flex-end">
      <h4 class="is-size-1 sawarabi-mincho-regular is-white-title">Supahands Workplace</h4>
      <hr class="is-white-line">
      </hr>
      <h5 class="is-size-4 sawarabi-mincho-regular is-white-title">Project Duration </h4>
        <p class="is-white-title">March 2016 - May 2017</p>
        <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Team </h4>
          <p class="is-white-title">1 x Product Managers</p>
          <p class="is-white-title">4 x Web Developers</p>
          <p class="is-white-title">2 x UI/UX Designer</p>
          <h5 class="mt-4 is-size-4 sawarabi-mincho-regular is-white-title">Company </h4>
            <p class="is-white-title">Supahands</p>
    </div>
    <div class="column is-mobile is-8">
      <figure class="image">
        <img loading="lazy" class="is-borderless is-rounded-img has-shadow" src="../images/supahands_oms_splash.jpg?" />
      </figure>
    </div>
  </div>
</div>
<div class="container pt-6 mt-6 pb-6 is-fluid pale-yellow-bg">
  <div class="container">
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">My Role</h4>
    <p>At this time around, the design team has grown slightly larger than the previous year. I was tasked to spearhead the design effort for the end to end experience of a new Supahands’ product - codename Babycino (which later renamed as Supahands Workplace, and finally known as DIANE)</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4 pt-4">Background</h4>
    <p>Supahands Workplace is a proprietary enterprise management platform that manages SupaAgents (remote freelancers) and delegates the work evenly to them based on different timezones, skillset, and availability.
    </p><br>
    <p>Because of the many amounts of projects that Supahands were getting, SupaAgent  does not necessarily work on one project at a time; instead, they have to work on multiple assigned projects to meet the deadline.
    </p><br>
    <p>Prior Workplace, all of these were managed manually in Google Spreadsheet among Project Managers. The time it took to delegate the task itself already amounted to a few days per project. The manual delegation hours were considered as an absorbed cost and were not taken into account when we charge our client.
    </p><br>
    <p>Optimizing this process is no brainer and will enable Supahands to increase its yearly revenue. The idea was to automate as much as possible the task of assigning the project to SupaAgents.
    </p><br>
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Ideation & Process</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">In House Interview with the PMs</h4>
    <p>Even though we have worked together in a close-knit environment since the early days of the company, there are more uncovered pain points that have not been discussed thoroughly. This includes new use case challenges that surfaced when Supahands received more workload and serving multiple clients at once.</p><br>
    <p>Here come the hurdles in so many axes.</p><br>
    <p>1) SupaAgent has to be available, skillset fit and in permissible timezone to work on a particular project.</p><br>
    <p>2) Project Manager will set the constraint for a project based on the requirement of skillset, deadline, and budget.</p><br>
    <p>3) SupaAgent on their dashboard has to select their availability, certified skillset and their willingness to work on any chosen project.</p><br>
    <p>4) The client can monitor the progress from the dashboard.</p><br>
    <p>So what we did to understand was to sit down with the Project Manager periodically for almost six months and learn their manual processes. Next, we proposed plenty of solution prototype and iterated it many many times. My primary role in this exercise was to conceptualize the epic user flow, draw the wireframe for testing, help PMs run the user testing with the real subjects and deliver the final UIs to the developer once we are all OK with the solution.</p><br>
    <p>We didn't get to solve everything at once after that long exercise, but we squashed major hurdles and sped up the delegation process by 75%.</p><br>
    <p>We developed a shared timeline schedule that acts as a calendar and also a booking chit that is accessible to both Project Managers and SupaAgent before the project is in active mode.</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Epic User Flow</h4>
    <p>Before I carry out any design work, I took all the gathered information from the interview and itemized them in the form of epic user flow. Its printed version is then blue-tacked onto the wall to gather feedback for another week.</p><br>
    <p>We placed this epic user flow at the office lounge so that all stakeholder in this project can contribute without any prohibitive feeling. After a week, we released the revised version of it and presented it in the progress meeting.</p><br>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">User Dashboard</h4>
    <p>Supahands Workplace dashboard is a new product that we have decided to build from the ground up. Meaning to say, we were going to retire the old codebase and replace it with a new one.</p><br>
    <p>Around this time also, Supahands business vertical has shifted entirely to serve the B2B market. Hence the dashboard has to reflect a more detailed experience compared to our B2C segment last time</p><br>
    <!-- Image & Figures -->
    <div class="columns">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/major_supaflow.png?">
            <p class="has-text-centered pt-2"><i>A snippet of the epic userflow. You may download the whole view in PDF format at <a href="https://bit.ly/3RaSljn" target="_blank">Supaflow</a></i></p>
        </div>
        <div class="column"></div>
    </div>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
      <div class="column">
        <figure class="image">
          <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_b.png?" />
          <p class="has-text-centered pt-2">
            <i>PM Profile Page</i>
          </p>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_c.png?" />
          <p class="has-text-centered pt-2">
            <i>PM Listing Page</i>
          </p>
        </figure>
      </div>
    </div>
    <!-- Additional Row -->
    <div class="columns pt-6 pb-6">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_a.png?">
            <p class="has-text-centered pt-2"><i>Screenshots of the main view of the dashboard.
            Access the static page here - <a href="https://peppy-blini-e0b831.netlify.app/master_index.html" target="_blank">Supahands OMS Demo</a></i></p>
        </div>
        <div class="column"></div>
    </div>
    <h3 class="is-size-3 sawarabi-mincho-regular pb-4">Visual Design</h3>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Design for Business</h4>
    <p>There is a need to emphasize details in B2B UX design. We found out from our feedback process; our business client requires much more information about any project that they assigned to us. Some of the examples are; starting and completion date, man-hour committed, a live status of the work and the total amount of cost that they need to pay.</p><br>
    <p>It took multiple rounds of testing and feedback gathering for all of these details. The result was a clean and visually driven dashboard that portrays only the crucial information needed.</p><br>
        <!-- Image & Figures -->
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
              <figure class="image">
                <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supa_workplace_jotted.jpg?">
                <p class="has-text-centered pt-2"><i>Some note taking on the need and wants from the PMs</i></p>
            </div>
            <div class="column"></div>
        </div>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Workplace Design Guidelines</h4>
    <p>I was thinking this new product should have an established visual consistency because with the different designers going to have work on this project in the future, we can’t afford any less-thought feature deviation. So, I created a brand style guide and published it on the share cloud document in the team.</p><br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
        <div class="column"></div>
        <div class="column is-three-quarters">
          <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supa_workplace_guides.png?">
            <p class="has-text-centered pt-2"><i>You may have a look at the PDF version of this here - <a href="https://bit.ly/3sylDis" target="_blank">Supahands OMS Design Guidelines</a></i></p>
        </div>
        <div class="column"></div>
    </div>
    <h4 class="is-size-4 sawarabi-mincho-regular pb-4">Delivery and Handoff</h4>
    <p>For Supahands Workplace, I help coded the early version of it so that the developers can scaffold on it later on. Apart from that, I also prepared the needed assets as usual and categorized it correctly using the agreed naming convention.</p><br>
    <!-- Image and Figure -->
    <div class="columns pt-6 pb-6">
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_d.png?" />
            <p class="has-text-centered pt-2">
            <i>Sign in Page</i>
            </p>
        </figure>
        </div>
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_e.png?" />
            <p class="has-text-centered pt-2">
            <i>PM Profile Page - Input</i>
            </p>
        </figure>
        </div>
    </div>
    <div class="columns pb-6">
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_f.png?" />
            <p class="has-text-centered pt-2">
            <i>Client Page A</i>
            </p>
        </figure>
        </div>
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_g.png?" />
            <p class="has-text-centered pt-2">
            <i>Client Page B</i>
            </p>
        </figure>
        </div>
    </div>
    <div class="columns pb-6">
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_h.jpg?" />
            <p class="has-text-centered pt-2">
            <i>SupaAgent Page</i>
            </p>
        </figure>
        </div>
        <div class="column">
        <figure class="image">
            <img loading="lazy" class="is-borderless is-rounded-img" src="../images/supahands_wp_dash_i.png?" />
            <p class="has-text-centered pt-2">
            <i>Clients Listing Page</i>
            </p>
        </figure>
        </div>
    </div>
  </div>
  <!-- Footer -->
  {{ partial "footer" . }}
</div>
{{ end }}
