<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "htmlhead" . }}
</head>

<body>
  <div class="container">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="columns is-mobile is-centered">
          <div class="column">
            <h2 class="is-size-2 sawarabi-mincho-regular"><i class="fa-solid fa-ghost"></i>&nbsp;404</h4>
              <h3 class="is-size-3 sawarabi-mincho-regular">Page Not Found</h4><br>
                <p class="subtitle">All that is gold does not glitter;<br>
                  Not all those who wander are lost;<br>
                  The old that is strong does not wither;<br>
                  Deep roots are not reached by the frost.</p>
                  <div class="buttons pt-4">
                    <a class="button-primary" href="/" rel="noopener noreferrer">
                      <strong>Home&nbsp;</strong>
                      <i class="fa-solid fa-house"></i>
                    </a>
                  </div> 
          </div>
        </div>
      </div>
    </section>
  
   
  </div>

  {{ template "_internal/google_analytics.html" . }}
</body>

</html>