{{ define "main" }}
<body class="pale-yellow-bg">
  <div class="container mt-6">
    <h1 class="is-hero-title sawarabi-mincho-regular">Empowering Founders to Create Impactful Products Experiences</h1>
  </div>
  <div class="container mt-6">
    <div class="columns is-multiline is-mobile">
      <div class="column is-1">
        <img id="imgHover" src="./images/nrfz_avatar.png" class="avatar" alt="Nurfaiz Foat Photo">
      </div>
      <div class="column">
        <h4 class="is-size-4 sawarabi-mincho-regular">Senior Product Designer</h4>
        <h6 class="is-size-6">Based in Malaysia, I focus on designing what matters to stakeholders</h6>
        <h6 class="is-size-6">and delivering the best results for businesses.</h6>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="columns is-multiline is-mobile">
      <div class="column is-2">
        <div class="separator-bar is-long"></div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
  <div class="container mt-6">
    <div class="columns is-multiline is-mobile">
      <div class="column">
        <h4 class="is-size-4 sawarabi-mincho-regular">Selected work</h4>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="columns is-mobile">
      <div class="column"><a href="/lelong_case_study"><img id="lelongLogo" src="../images/lelong_logo_hover.svg?" class="hoverable-image is-borderless" alt="Lelong Logo"> </a> </div>
      <div class="column"><a href="/supahands_case_study"><img class="is-borderless hoverable-image" src="../images/supahands_logo_hover.svg?" alt="Supahands Logo"></a>  </div>
      <div class="column"><a href="/ookyo_case_study"><img class="is-borderless hoverable-image" src="../images/ookyobymaxis_logo_hover.svg?" alt="Ookyo by Maxis Logo"></a>  </div>
      <div class="column"><a href="/supahandswp_case_study"><img class="is-borderless hoverable-image" src="../images/supahands_workplace_logo.svg?" alt="Supahands Workplace Logo"></a>  </div>
      <div class="column"><a href="/nexoprima_case_study"><img class="is-borderless hoverable-image" src="../images/nexoprima_logo_hover.svg?" alt="Nexoprima Logo">  </div>
      <div class="column"><a href="https://www.facebook.com/misterumpan"><img class="is-borderless hoverable-image" src="../images/mrumpan_logo_hover.svg?" alt="Mr. Umpan Logo">  </div>
    </div>
  </div>
</body>
{{ end }}
