{{ define "main" }}
<body class="pale-yellow-bg">
  <div class="container is-fluid">
    <div class="container mt-6">
      <h1 class="is-hero-title is-hidden-mobile sawarabi-mincho-regular">Empowering Founders to Create Impactful Products Experiences</h1>
      <h5 class="is-size-1-mobile is-hero-mobile-title is-hidden-desktop sawarabi-mincho-regular">Empowering Founders to Create Impactful Products Experiences</h5>
    </div>
    <div class="container mt-5">
      <div class="columns">
        <div class="column is-1 is-one-quarter-mobile">
          <img id="imgHover" loading="lazy" src="./images/nrfz_avatar.png" class="avatar" alt="Nurfaiz Foat Photo">
        </div>
        <div class="column">
          <h4 class="is-size-4 sawarabi-mincho-regular">Senior Product Designer</h4>
          <p>Based in Malaysia, I focus on designing what matters to stakeholders<br>and delivering the best results for businesses.</p>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="columns is-multiline is-mobile">
        <div class="column is-2">
          <div class="separator-bar is-long"></div>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="columns is-multiline is-mobile">
        <div class="column">
          <h4 class="is-size-4 sawarabi-mincho-regular">Selected work</h4>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="columns is-hidden-mobile">
        <div class="column"><a href="/lelong_case_study"><img loading="lazy" id="lelongLogo" src="../images/lelong_logo_hover.svg?" class="hoverable-image is-borderless" alt="Lelong Logo"> </a> </div>
        <div class="column"><a href="/supahands_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/supahands_logo_hover.svg?" alt="Supahands Logo"></a>  </div>
        <div class="column"><a href="/ookyo_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/ookyobymaxis_logo_hover.svg?" alt="Ookyo by Maxis Logo"></a>  </div>
        <div class="column"><a href="/supahandswp_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/supahands_workplace_logo.svg?" alt="Supahands Workplace Logo"></a>  </div>
        <div class="column"><a href="/nexoprima_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/nexoprima_logo_hover.svg?" alt="Nexoprima Logo">  </div>
        <div class="column"><a href="https://www.facebook.com/misterumpan"><img loading="lazy" class="is-borderless hoverable-image" src="../images/mrumpan_logo_hover.svg?" alt="Mr. Umpan Logo">  </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="columns is-hidden-tablet is-mobile">
        <div class="column"><a href="/lelong_case_study"><img loading="lazy" id="lelongLogo" src="../images/lelong_logo_hover.svg?" class="hoverable-image is-borderless" alt="Lelong Logo"> </a> </div>
        <div class="column"><a href="/supahands_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/supahands_logo_hover.svg?" alt="Supahands Logo"></a>  </div>
      </div>
      <div class="columns is-hidden-tablet is-mobile">
        <div class="column"><a href="/ookyo_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/ookyobymaxis_logo_hover.svg?" alt="Ookyo by Maxis Logo"></a>  </div>
        <div class="column"><a href="/supahandswp_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/supahands_workplace_logo.svg?" alt="Supahands Workplace Logo"></a>  </div>
      </div>
      <div class="columns is-hidden-tablet is-mobile">
        <div class="column"><a href="/nexoprima_case_study"><img loading="lazy" class="is-borderless hoverable-image" src="../images/nexoprima_logo_hover.svg?" alt="Nexoprima Logo">  </div>
          <div class="column"><a href="https://www.facebook.com/misterumpan"><img loading="lazy" class="is-borderless hoverable-image" src="../images/mrumpan_logo_hover.svg?" alt="Mr. Umpan Logo">  </div>
      </div>
    </div>
  </div> 
      <!-- Floating Menu -->
      {{ partial "floating_menu" . }}
</div>
</body>
{{ end }}
