<div class="float-nav is-hidden-tablet">
    <a href="#" class="menu-btn">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </a>
</div>
<div class="main-nav">
    <ul>
        <li><span class="tag is-light available-for-work-m"><span class="blink">&#x1F7E2</span>&nbsp;Available for Work</span></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="https://github.com/nurfaizfoat" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/nurfaiz-foat-58756611b/" target="_blank">LinkedIn</a></li>
        <li><a href="https://x.com/nurfaizfoat" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="../docs/nurfaizfoat_sept24.pdf" target="_blank">Resume &nbsp;&nbsp;<i class="fa-regular fa-floppy-disk"></i></a></li>
    </ul>