<div class="container mt-6 is-fluid">
  <div class="container">
      <nav class="navbar pale-yellow-bg" role="navigation" aria-label="main navigation">
        <figure class="image is-48x48 mt-3">
          <img class="is-borderless" src="../images/asterisk_logo.svg" alt="Description of the image">  
        </figure>  
    

          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                  <a class="navbar-item" href="mailto:hi@nurfaizfoat.com" target="_blank" rel="noopener noreferrer">
                      hi@nurfaizfoat.com
                  </a>               
              </div>

              <div class="navbar-end">
                  <a class="navbar-item {{ if or .IsHome (eq .RelPermalink "/") }}is-active{{ end }}" href="/">Home</a>
                  <a class="navbar-item {{ if eq .RelPermalink "/about/" }}is-active{{ end }}" href="/about/">About Me</a>      
                  <a class="navbar-item" href="https://github.com/nurfaizfoat" target="_blank" rel="noopener noreferrer">GitHub</a>  
                  <a class="navbar-item" href="https://www.linkedin.com/in/nurfaiz-foat-58756611b/" target="_blank" rel="noopener noreferrer">LinkedIn</a>    
                  <a class="navbar-item" href="https://x.com/nurfaizfoat" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>     
                  <div class="navbar-item">
                      <div class="buttons">
                          <a class="button-primary" href="https://bit.ly/nurfaiz_cv_june24" target="_blank" rel="noopener noreferrer">
                              <strong>Resume&nbsp;&nbsp; </strong>
                              <i class="fa-regular fa-floppy-disk"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
  </div>
</div>
