<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- template "_internal/opengraph.html" . -}}

<title>{{ .Page.Title }} | {{ .Site.Title -}}</title>
<link rel="icon" href="{{ "../images/favicon.ico" | relURL }}" type="image/x-icon">

{{- $options := (dict "outputStyle" "compressed") }}  
{{- $bulmaCss := resources.Get "bulma_v1/bulma.css" }}   <!-- Include the Bulma v1 CSS -->  
{{- $overridesScss := resources.Get "_overrides.scss" }} <!-- Include the SCSS overrides -->  

{{- if .Site.Params.postcss }}  
    {{- $bulma := $bulmaCss | postCSS | resources.Minify | resources.PostProcess }}  
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">  
{{- else }}  
    {{- $bulma := $bulmaCss | resources.Minify }}  
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">  
{{- end }}  

{{- $overrides := $overridesScss | resources.ExecuteAsTemplate "_overrides.scss" . | resources.ToCSS $options | resources.Minify }}  
<link rel="stylesheet" type="text/css" href="{{ $overrides.RelPermalink }}">

{{ $imgHover := resources.Get "js/imgHover.js" | resources.Minify | resources.Fingerprint }}  
<script src="{{ $imgHover.RelPermalink }}" defer></script>

{{ $imgTab := resources.Get "js/imgTab.js" | resources.Minify | resources.Fingerprint }}  
<script src="{{ $imgTab.RelPermalink }}" defer></script>

{{ $floatingMenu := resources.Get "js/floatingMenu.js" | resources.Minify | resources.Fingerprint }}  
<script src="{{ $floatingMenu.RelPermalink }}" defer></script>

{{- template "_internal/google_analytics.html" . -}}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ partial "css" . }}