html,body {
    font-family: "Public Sans", sans-serif;
    background-color: #FFF8EE;
    }

img {
    padding: 5px;
    border: 1px solid #ccc;
    }

.is-borderless { 
  border: 0;
}

.pale-yellow-bg {
  background-color: #FFF8EE;
}

.is-hero-title {
  font-size: 6rem !important;
  line-height: 6.5rem;
  letter-spacing: 0em;
}

.sawarabi-mincho-regular {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.button-primary {  
  -webkit-border-radius: 1px;  
  -moz-border-radius: 1px;  
  border-radius: 1px;  
  color: white;  
  font-size: 16px;  
  background: black;  
  margin-bottom: .5rem;  
  border: solid #000000 1px;  
  text-decoration: none;  
  transition: all 0.2s ease-out; // Transition for button  
  justify-content: center;  
  padding-bottom: calc(.8em - 1px);  
  padding-left: 1.5em;  
  padding-right: 1.5em;  
  padding-top: calc(.8em - 1px);  
  text-align: center;  
  white-space: nowrap;


  &:hover { // Hover effect for button-primary  
      background: white;  
      text-decoration: none;  
      color: black;  
      border: solid #000000 1px;  
      box-shadow: 5px 5px 0px 0px #000000;  
  }  
}  

a {  
    text-decoration: none;  
    transition: all 0.15s ease-out; // Transition effect  
  
    &:hover { // Nested hover effect  
        background-color: transparent;
        text-decoration: underline; // Add underline on hover  
        font-weight: bold; // Make the font bold on hover
    }  
} 

a.navbar-item:hover {
  background-color: transparent;
  color: inherit;
  transform: scale(1.01);
}

.avatar {
  width: auto;
  padding: 0;
  border:2px solid black;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
}

.separator-bar {
  position: absolute;
  width: 200px;
  height: 0px;
  opacity: 1;
  border-top: 3px solid #000000;
}

.hoverable-image {  
  filter: grayscale(100%) brightness(0); /* Makes the SVG appear black */  
  transition: all 0.3s ease; /* Smooth transition for the filter effect */ 

  // On hover, remove the grayscale filter  
  &:hover {  
      filter: none;
      transform: scale(1.05);
  }  
}