// Variables
$font-primary: "Public Sans", sans-serif;
$font-secondary: "Sawarabi Mincho", serif;
$color-background: #FFF8EE;
$color-dark-bg: #2F2F2F;
$color-white: #fff;
$color-black: #000;
$color-border: #ccc;

// Mixins
@mixin button-styles {
  border-radius: 1px;
  font-size: 16px;
  margin-bottom: .5rem;
  text-decoration: none;
  transition: all 0.2s ease-out;
  justify-content: center;
  padding: calc(.8em - 1px) 1.5em;
  text-align: center;
  white-space: nowrap;
}

@mixin hover-transform {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

// General Styles
html {
  font-family: $font-primary;
  background-color: $color-background;

  &.is-global-dark-bg {
    background-color: $color-dark-bg;
  }
}

// Utility classes
.is-borderless { 
  border: 0;
}

.pale-yellow-bg {
  background-color: $color-background;
}

.is-dark-bg {
  background-color: $color-dark-bg;
}

// Custom drop shadow class
.has-shadow {
  box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 13px 0px rgba(0,0,0,0.75);
}

// Typography
.is-hero-title {
  font-size: 6rem !important;
  line-height: 6.5rem;
  letter-spacing: 0em;
}

.is-white-title {
  color: $color-white;
}

.sawarabi-mincho-regular {
  font-family: $font-secondary;
  font-weight: 400;
  font-style: normal;
}

// Components
.button-primary {
  @include button-styles;
  color: $color-white;
  background: $color-black;
  border: solid $color-black 1px;

  &:hover {
    background: $color-white;
    color: $color-black;
    border-color: $color-black;
    box-shadow: 5px 5px 0px 0px $color-black;
  }
}

a {
  text-decoration: none;
  transition: all 0.15s ease-out;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
  }

  &.navbar-item:hover {
    background-color: transparent;
    color: inherit;
    transform: scale(1.01);
  }
}

.avatar {
  width: auto;
  padding: 0;
  border: 2px solid $color-black;
  border-radius: 5rem;
}

.separator-bar {
  position: absolute;
  width: 200px;
  height: 0px;
  opacity: 1;
  border-top: 3px solid $color-black;
}

.hoverable-image {
  filter: grayscale(100%) brightness(0);
  @include hover-transform;

  &:hover {
    filter: none;
  }
}

.is-white-line {
  width: 200px; 
  border: 1.5px solid $color-white; /* Updated border width */
}

// Page-Specific Styles
.case-study-body {
  background-color: $color-dark-bg;

  .navbar {
    background-color: $color-dark-bg;

    .navbar-item {
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }

    .button-primary {
      @include button-styles;
      color: $color-black;
      background: $color-white;
      border: solid $color-white 1px;

      &:hover {
        background: $color-black;
        color: $color-white;
        border-color: $color-white;
        box-shadow: 5px 5px 0px 0px $color-black;
      }
    }
  }
}